@import "../../assets/style/base.less";

#index {
  .item {
    display: grid;
    grid: auto auto / 120px 1fr;
    margin: 40px 0;
    word-break: break-all;

    .avatar {
      grid-column: 1;
      grid-row: 1 / span 2;
      justify-self: center;
      margin-left: 0;
      text-align: center;

      div.img-wrapper {
        width: 60px;
        height: 60px;
      }

      figcaption {
        font-size: 12px;
        color: @textLighterColor;
      }
    }
    h3 {
      color: @textColor;
      grid-row: 1;
      grid-column: 2;
      span {
        color: @textLighterColor;
        font-weight: normal;
        font-size: 12px;
      }
    }
    p {
      grid-column: 2;
      grid-row: 2;
      margin-top: 0;
    }
  }
}
